<h1>PitchWeb</h1>

<table class="table">
    <thead class="table-light">
        <tr>
        <th scope="col">Pitch Nummer:</th>
        <th scope="col">Pitch Titel</th>
        <th scope="col">Pitch lesen</th>
        <th scope="col">Pitch editieren</th>
        <th scope="col">Pitch löschen</th>
        </tr>
    </thead>
    <% @posts.each_with_index do | post, i | %>
    <tbody>
        <tr class="table-light">
        <th scope="row"><%= 1 + i %></th>
        <td><%= post.title %></td>
        <td><%= link_to 'Pitch ansehen', post_path(post), class: "btn btn-outline-primary"%></td>
        <td><%= link_to 'Pitch editieren', edit_post_path(post), class: "btn btn-outline-primary"%></td>
        <td><%= link_to 'Pitch löschen', post_path(post), method: 'DELETE', class: "btn btn-outline-primary"%></td>
        </tr>
    </tbody>

    <% end %>
</table>